html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#info {
    background-color: black;
    opacity: 0.75;
    color: orange;
    font-size: 18pt;
    padding: 8px;
    visibility: hidden;
}